name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --check
      - run: cargo clippy -- -D warnings
      - run: cargo doc

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO: A rustc version matrix to trigger the correct `has_` cfgs.
        features: ["", "alloc", "std"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Show rustc version
        run: rustc --version
      - name: Run tests for feature matrix
        run: |
          FEATURES="${{ matrix.features }}"
          FEATURE_FLAGS=${FEATURES:+--features $FEATURES}
          cargo test --verbose --no-default-features $FEATURE_FLAGS

  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo install cargo-insert-docs
      - run: cargo insert-docs crate-into-readme --check --link-to-latest

  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo install cargo-msrv
      - run: cargo msrv verify
